.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
}
.cabecalho__apresentacao {
    align-items: center;
    display: flex;
    margin-bottom: .5rem;
}
.cabecalho__nome {
    font-size: 1rem;
    font-weight: 700;
    padding-left: 0.3rem;
}
.menu__lista {
    display: none;
    text-align: center;
}
.item__link {
    color: #464646;
}
.cabecalho__email {
    color: #464646;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none;
}
.cabecalho__email:hover {
    text-decoration: underline;
}

/*Main*/
/*Apresentacao*/
.apresentacao__foto-perfil {
    width: 98px;
    border-radius: 100%;
    height: 98px;
    margin-left: 1rem;
}
.apresentacao__resumo {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0 0 1rem 0;
}
.apresentacao__contatos {
    display: flex;
    font-size: 0.875rem;
    justify-content: space-between;
    width: max-content;
}
.contato__item {
    padding-right: 1rem;
}
.contato__item:last-child {
    padding-right: 0rem;
}
.apresentacao__contato {
    color: #464646;
    font-weight: 600;
    text-decoration: none;
}


/*Sobre*/
.sobre {
    background-color: #EAF2FD;
}
.sobre__resumo {
    font-weight: 400;
    padding-bottom: 1rem;
}

/*Habilidades*/
.hard-skills__titulo, .soft-skills__titulo{
    text-align: center;
}
.soft-skills__titulo {
    padding-top: 1rem;
}
.cartao__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.cartao__item {
    width: calc(50vw - 2rem);
    text-align: center;
    padding: 2rem 0 1rem 0;
    background-color: #ffffff;
}
.item__logo {
    margin-bottom: 0.5rem;
}

/*Formação Academica*/
.formacao {
    background-color: #EAF2FD;
}
.formacao__titulo {
    text-align: center;
}
.formacao__lista:nth-child(1) {
    padding-bottom: 1rem;
}
.formacao__imagem{
    width: calc(100vw - 2rem);
    background-color: #ffffff;
}
.formacao__nome {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}
.formacao__subtitulo {
    font-weight: 500;
    font-size: 0.875rem;
}

/*Experiencias*/
.experiencia__titulo {
    text-align: center;
}

.experiencia__item:nth-child(-n + 2) {
    margin-bottom: 1rem;
}
.item__imagem {
    box-sizing: border-box;
    box-shadow: 3px 3px 10px 3px #888888;
    width: 100%;
}
.item__nome {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}
.item__subtitulo {
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}
.item__botoes {
    display: flex; 
}
.botao {
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.875rem;
    padding: 0.7rem;
}
.botao:first-child {
    margin-right: 1rem;
}
/*
.botao:last-child {
    
}
*/
/*Contato*/
.contato {
    background-color: #EAF2FD;
}
.contato__texto {
    font-weight: 500;
    font-size: 1rem;
    padding-bottom: 1rem;
}
.formulario__input, .formulario__textarea {
    border: none;
    box-sizing: border-box;
    margin: 0.5rem 0;
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem;
    font-family: Raleway, sans-serif;
    width: 100%;
}
.formulario__textarea {
    height: 150px;
}
.formulario__erro{
    display: block;
    color: red;   
}
.contato__imagem {
    display: none;
}

.formulario__botao-ativo{
    background-color: #2A7AE4;
    color: #ffffff;
    margin-top: 0.5rem;
}
.formulario__botao-desabilitado{
    border: 0px;
    background-color: #2a7be44f;
    color: #ffffff;
    margin-top: 0.5rem;
}


/*Footer*/
/*Rodape*/
.rodape {
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
}
.rodape__texto {
    font-weight: 600;
    font-size: 1rem;
}
.rodape__texto:first-child {
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px){
    .cabecalho {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem 0 2rem;
    }    
    .cabecalho__email {
        font-size: 16px;
        font-weight: 700;
    }
    
    .apresentacao{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .apresentacao__foto-perfil {
        height: 146px;  
        order: 1;
        width: 146px;
    }
    .apresentacao__conteudo {
        width: 70vw;
    }
    .apresentacao__resumo, .apresentacao__contato {
        font-size: 1rem;
    }
    .contato__item {
        padding-right: 2rem;
    }

    .soft-skills__titulo {
        padding-top: 2rem;
    } 
    .cartao__lista {
        gap: 1rem;
    }
    .cartao__item {
        width: calc(32vw - 2rem);
    }

    .formacao__conteudo{
        display: flex;
        justify-content: space-around;
    }
    .formacao__imagem{
        width: calc(50VW - 4rem);
    }
    .formacao__lista:nth-child(1) {
        padding-bottom: 0rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu, .menu__lista{
        display: flex;
    }
    .menu__item {
        padding-right: 1rem;
    }
    .item__link {
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
    }

    .apresentacao__foto-perfil{
        height: 368px;
        width: 368px;
    }
    .apresentacao__titulo {
        font-size: 3.25rem;
    }
    .apresentacao__resumo {
        font-size: 1.375rem;
    }
    .contato__item {
        padding-right: 4rem;
    }

    .sobre__resumo {
        max-width: 60vw;
    }

    .cartao__item {
        width: calc(15vw - 2rem);
        transition: 500ms ease-in-out
    }
    .cartao__item:hover {
        transform: scale(1.05);
    }

    .formacao__imagem {
        width: calc(50VW - 8rem);
        transition: 500ms ease-in-out;
    }
    .formacao__imagem:hover {
        transform: scale(1.05);
    }
    .formacao__nome {
        font-size: 1.375rem;
    }
    .formacao__subtitulo {
        font-size: 1rem;
    }

    .item__imagem {
        margin-right: 5rem;
        width: 40vw;
        transition: 500ms ease-in-out;
    }
    .item__imagem:hover {
        transform: scale(1.05);
    }
    .experiencia__item {
        display: flex;
        align-items: center;  
    }
    .experiencia__item:nth-child(-n + 2) {
        margin-bottom: 3rem;    
    }
    .experiencia__item:nth-child(2n) {
        justify-content: flex-end;
    }
    .item__imagem-invertido {
        order: 1;
        margin-right: 0;
        margin-left: 5rem;
    }

    .contato {
        display: flex;
    }
    .contato__imagem {
        display: block;
        margin-right: 1rem;
        height: 527px;
    }
}